body {
	background: #F8CB6D;
	text-align: center;
}
header {
	display: -webkit-inline-box;
	border: 2px solid black;	
	height: 60px;
	width: 512;
}
ul {
	margin: 5px;
}

#canvasBasico {
	background: #FFFFFF;
	border: 5px solid gray;
	display: -webkit-inline-box;
}

/*#canvasInicio {
	background: #FFFFFF;
	border: 5px solid gray;
	display: -webkit-inline-box;
}
*/
#canvasMedio {
	background: #FFFFFF;	
	border: 5px solid gray;
	display: -webkit-inline-box;
}


#imgLogo, #imgPerfil {
	border-radius: 50%;
}
#logo, #perfil {
	background: #4499FF;
	border: 1px solid gray;
	border-radius: 50%;
	margin: 5px;
	width: 50px;
	height: 50px;
}


#menu li {
	display: -webkit-inline-box;
	border: 1px solid green;
	border-radius: 8%;
	height: 20px;
	width: 100px;
}

/*#perfil {
	background: #11FF99;
	border: 1px solid gold;
	margin: 5px;
	width: 50px;
	height: 50px;
}*/