// Definición de paleta de colores
color_naranja = #ECAF0C
color_verde = #53C187
color_gris = #C1BEBE

*
	margin 0
	padding 0
	font 16px verdana, sans-serif

body, header, div, nav, footer
	display block	

body
	background #E0E6E9
	text-align center
	
// header
// 	display inline-flex
// 	border 3px solid orange
	
// #logo
// 	border 1px solid black
// #nombre
// 	border 1px solid black
// #perfil
// 	border 1px solid black
	
	
header
	width 100%
	text-align center
	background color_verde
	display -webkit-inline-box
	& h1
		background color_naranja
		border 3px solid black
		border-radius 10em
		font-weight bold
		margin 1em 2em
		padding 1em 1em
		text-transform uppercase
	& #img_html, #img_css3, #img_js
		margin 1em
		border-radius 50%
		border 3px solid black
		
section
	background color_gris
	
footer
	background color_naranja

#menu
	background #CCC
	margin 0
	background #999
	padding 1em 2em
	& li
		display -webkit-inline-box
		& a
			background yellow
			padding 1em 2em
			text-decoration none
			list-style none
			text-transform capitalize
			
footer
	height 100%
// #menu
// 	background #6556A4
// 	display block
// 	// position relative
// 	& li
// 		// position absolute
// 		// float left
// 		padding .5em 0
		

// body {
// 	background: #F8CB6D;
// 	text-align: center;
// }
// header {
// 	display: -webkit-inline-box;
// 	border: 2px solid black;	
// 	height: 60px;
// 	width: 512;
// }
// ul {
// 	margin: 5px;
// }

// #canvasBasico {
// 	background: #FFFFFF;
// 	border: 5px solid gray;
// 	display: -webkit-inline-box;
// }

#canvasInicio {
	background: #FFFFFF;
	// border: 5px solid gray;
	display: -webkit-inline-box;
}

// #canvasMedio {
// 	background: #FFFFFF;	
// 	border: 5px solid gray;
// 	display: -webkit-inline-box;
// }


// #imgLogo, #imgPerfil {
// 	border-radius: 50%;
// }
// #logo, #perfil {
// 	background: #4499FF;
// 	border: 1px solid gray;
// 	border-radius: 50%;
// 	margin: 5px;
// 	width: 50px;
// 	height: 50px;
// }


// #menu li {
// 	display: -webkit-inline-box;
// 	border: 1px solid green;
// 	border-radius: 8%;
// 	height: 20px;
// 	width: 100px;
// }

// /*#perfil {
// 	background: #11FF99;
// 	border: 1px solid gold;
// 	margin: 5px;
// 	width: 50px;
// 	height: 50px;
// }*/